/* Добавление отступов к форме */
form {
    margin-top: 30px;
}

/* Настройка цвета фона для кнопки "Зарегистрироваться" */
button.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

/* Изменение цвета текста на кнопке */
button.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

/* Настройка размеров полей ввода */
input.form-control {
    margin-bottom: 10px;
}

/* Изменение стилей для меток полей ввода */
label {
    font-weight: bold;
}

/* Центрирование формы на странице */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#register {
    padding-left: 40%;
    padding-top: 200px;
}
