{% extends 'base.html' %}
<html>
<head>
    <title>Список товаров</title>
</head>
{% block content%}
    <h1>Список товаров</h1>
    <ul>
        {% for product in products %}
        <li>
            <a href="{{ product.id }}"><strong>{{ product.title }}</strong><br></a>
            Описание: {{ product.description }}<br>
            Цена: {{ product.price }}<br>
            Количество: {{ product.count }}<br>
            <!-- Путь к изображениям фотографий должен быть правильным, в зависимости от вашего приложения -->
            <img src="{{url_for('static', filename='img/' + product.img)}}" width="130" height="130">
        </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
</html>
