<!DOCTYPE html>
<html>
<

<title>Регистрация</title>
<link rel="stylesheet" type="text/css" href="/static/register.css">
<body>
    <form action="" method="post" class="form">
        <p>
        <label for="name">Имя</label><br>
        <input type="text" id="name" name="name" required> 
        <p>
        <label for="email">Почта</label><br>
        <input type="email" id="email" name="email" required>>
        <p>
        <label for="psw">Пароль</label><br>
        <input type="password" id="password" name="password" required>>
        <p>
        <input type="submit" value="Регистрация">
    </form>
    <a href="/Shop.store/login">Войти</a>
    </form>
</body>
</html>