<!DOCTYPE html>
<html>
<

<title>Регистрация</title>
<link rel="stylesheet" type="text/css" href="/static/register.css">
<body>
    <form action="" method="post" class="form">
        <p>
        <label for="name">Имя</label><br>
        <input type="text"> 
        <p>
        <label for="email">Почта</label><br>
        <input type="email">
        <p>
        <label for="psw">Пароль</label><br>
        <input type="password">
        <p>
        <input type="submit" value="Регистрация">
    </form>
</body>
</html>